
@{
    ViewData["Title"] = "WellDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2 class="mt-5 mb-5 pt-5 pb-5"> You have reported we will consider your worries  thanks for your  atribute to do many good things together for the best of Kosovo Tourism  </h2>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-info nav-link"> Main Page        &#8594;</a>
</div>
