
@{
    ViewData["Title"] = "managecomments";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Managecomments</h2>

<a class="nav-link btn btn-info m-5" asp-area="Admin" asp-controller="MonumentComments" asp-action="Index">
     Komentet e Monuemnteve
</a>
<a class="nav-link btn btn-info m-5" asp-area="Admin" asp-controller="TouristSpotComents" asp-action="Index">
    Komentet e Tourist spot
</a>