@{
    ViewData["Title"] = "About";
}
<div class="container text-center">
    <h2>@ViewData["Title"]</h2>


    <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar varius consectetur. Fusce lacinia est ac nisi rhoncus hendrerit. In non posuere neque, sit amet ornare odio. Cras convallis leo sit amet libero pharetra mollis. Duis a ultrices lectus. Nam finibus vel nibh id tempus. In id justo sollicitudin, luctus lorem sit amet, molestie nunc. Nunc non blandit odio. Quisque orci metus, gravida a pretium ut, tempor quis risus. Mauris non mi dolor. In lobortis ex est, non malesuada tellus tincidunt eu. Nunc placerat malesuada dui, nec malesuada nibh scelerisque sit amet. Suspendisse et pulvinar tortor. Maecenas vulputate purus quis neque tincidunt commodo. Sed ullamcorper ex ac accumsan euismod.

        Suspendisse ut nisl sit amet erat viverra placerat. Nam non ultrices augue. Sed cursus nisi et dignissim tristique. Integer et urna sit amet purus faucibus egestas. Nunc sit amet ante massa. Aliquam quis metus vel dolor dignissim interdum sed ut sapien. Vivamus laoreet nisi vel tincidunt blandit. Fusce scelerisque convallis augue, id fermentum sapien vestibulum non. Sed eget lacus et ante interdum eleifend sit amet ut urna. Sed eget sapien id ipsum mattis finibus. Quisque accumsan ullamcorper erat, sed euismod ipsum.

        Morbi quam elit, sagittis ac tellus ut, venenatis molestie ipsum. Nulla in ultrices orci, a pulvinar felis. Vestibulum iaculis mauris felis, eu iaculis eros volutpat a. Ut purus est, feugiat sit amet pulvinar id, pretium at sem. Ut in ligula viverra, vehicula tortor eu, ultricies tellus. Nam commodo elementum nulla a consectetur. Sed justo erat, efficitur lobortis sem a, accumsan rutrum nibh. Proin sagittis tellus sed leo rutrum, nec posuere leo volutpat.
    </p>
</div>